@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  position: relative;
}

.gradient_1 {
  background: rgb(131, 124, 255);
  background: linear-gradient(
    162deg,
    rgba(131, 124, 255, 1) 0%,
    rgba(98, 60, 234, 0.9464518229166666) 35%
  );
}

.gradient_2 {
  background: linear-gradient(0deg, #2600ae, #2600ae);
}
